.container {
  position: relative;
}

section {
  margin: 0;
}

section,
footer {
  position: relative;
  width: 100%;
  overflow: hidden;
}

b,
strong {
  font-weight: $font-bold;
}

a,
button {
  &:focus,
  &:active,
  &:focus:active {
    outline: none;
  }
}

hr {
  height: 1px;
  background: $hr-border;
  border: 0;
}
