// Write custom variables here

// Utilities
$offset-base: $padding-base-vertical;
$color-adjust-intensity: 75;

// Typography
$font-light: 300;
$font-normal: normal;
$font-bold: bold;

// Colors
$color-map: ();
